Source: wifi-signal-applet
Section: user/desktop
Priority: extra
Maintainer: Faheem Pervez <trippin1@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake1.9 | automake1.8, libhildon1-dev, libgtk2.0-dev, libglib2.0-dev, libhildondesktop1-dev, libdbus-glib-1-dev, libconic0-dev, icd2-dev, libpango1.0-dev, libcairo2-dev, libgconf2-dev, libosso-dev, hildon-control-panel-dev
Standards-Version: 3.7.2

Package: wifi-signal-applet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gconf2 (>= 2.10.1-2)
Description: Shows the Wi-Fi signal from 1 - 10 in the status area
 Note: By default, it checks every two seconds. This can be changed
 from Control Panel.
 .
 It stops checking if the display is off/the applet is not visible/
 you aren't connected to a Wi-Fi network.
XB-Maemo-Display-Name: Wi-Fi Signal Applet
Xsbc-Bugtracker: mailto://trippin1@gmail.com
